.form_container{
  min-height: 80vh;
  display: flex;
  align-items: center;
  
}

.form_title{
  text-align: center;
  width: 100%;
  font-weight: 600;
  font-size: 22px;
}

.inputs_container{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: auto;
  align-items: start;
  padding: 2rem;
  min-width: 384px;
  border-width: 1px;
  border-radius: 12px;
  color: #52525b;
  font-size: 14px;border: 1px solid black;
}

.input_fill{
  border: 1px solid #d4d4d8;
  border-radius: 4px;
  width: 100%;
  padding: 8px;
  margin-top: 4px;
}

.button_form{
  background-color: black;
  color: white;
  width: 100%;
  padding: 8px 0;
  border-radius: 6px;
  transition: all 0.3s linear;
}

.button_form:hover{
  color: black;
  background-color: white;
}

.toggle_form{
  color: #5f6fff;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 640px){
  .inputs_container{
    min-width: 340px;
  }
}