header {
  padding: 10px 0;
  position: relative;
  z-index: 1; 
}

.navbar {
  padding: 0 20px;
  position: relative;
  z-index: 1000;
  /* background-color: red; */
}

.nav-logo {
  height: 40px;
}

.navbar-nav {
  gap: 25px;
  font-weight: 500;
  /* background-color: red; */
}

.nav-item {
  position: relative;
  padding: 10px 20px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.nav-link {
  color: #000 !important;
  text-decoration: none;
}

.nav-item:hover {
  background-color: #eff0f4;
}

.dropdown-menu {
  /* opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  width: 200px;
  background-color: #eff0f4;
  color: #575757;
  border: 1px solid #575757;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2000;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 10px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; */
}
.nav-link:hover{
  background-color: #eff0f4;
}

.dropdown-item:hover{
  background-color: #eff0f4;
}

@media (min-width: 992px) {
  /* .nav-item.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
  } */
}

/* ====== Cart and Search ====== */
.nav-search-cart {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  position: absolute;
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3000;
  /* background-color: red; */
}

.cart-count {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  margin-left: -25px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
  background-color: black;
  color: white;
}

@media (max-width: 991px) {
  .navbar-collapse {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: all 0.5s ease;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1500;

  }
  .navbar-collapse.collapsing {
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .navbar-collapse.show {
    transition: all 0.5s ease;
  }

  .nav-search-cart {
    top: 20px;
    right: 70px;
    transform: translateY(0);
  }

  .navbar-nav {
    gap: 15px;
    margin-top: 20px;
  }

  .nav-item {
    padding: 10px;
  }

  .cart-count {
    margin-left: -20px;
  }
}

@media (max-width: 479px) {
  .navbar {
    padding: 10px;
  }
}